<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.buryware.burywarechoose">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

   <application
        android:icon="@drawable/choose_logo"
        android:supportsRtl="true"
        android:label="Choose 2 by Buryware"
        android:allowBackup="true">

        <activity
            android:name=".ChooseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChooserGameActivity"
            android:label="Choose by Buryware"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ChooseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseActivity" />
        </activity>

        <activity
            android:name=".DonationsActivity"
            android:label="Donate to Buryware"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".DonationsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:theme="@style/Theme.AppCompat"
                android:value=".DonationsActivity" />
        </activity>

        <activity
            android:name=".ChooseAboutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="About Buryware" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseAboutActivity" />
        </activity>

        <activity
            android:name=".HighAwardsScores"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="High Scores Buryware" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HighAwardsScores" />
        </activity>

        <activity
            android:name=".TournementActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Buryware Tournement" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TournementActivity" />
        </activity>

        <activity
            android:name=".HighestAwardsScores"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Highest CHOOSE Scores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HighestAwardsScores" />
        </activity>

        <activity
            android:name=".ChooseThanksFirstUsers"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Laudate Excelsis..." >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseThanksFirstUsers" />
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>